/* $Id: commerce_line_item_summary.css,v 1.1 2010/08/12 01:59:47 rszrama Exp $ */

.line-item-summary {
  text-align: right;
}

.line-item-summary .line-item-quantity {
  float: left;
}

.line-item-summary .line-item-total-label {
  font-weight: bold;
}

.line-item-summary .links {
  clear: left;
}

.line-item-summary .links li.last {
  padding-right: 0;
}
